@model DiscografiaModel.Models.Compañia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compañia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Compañia }, new {@class="btn btn-primary" }) 
    @Html.ActionLink("Back to List", "Index", null, new {@class="btn btn-success" })
</p>
